$colorBlack: #000000;
$colorWhite: #ffffff;

$colorGreySuperLight: #f3f3f3;
$colorGreyLight: #e6e6e6;
$colorGreyMid: #8F8F8F;
$colorGreyDark: #5e5e5e;

$colorBlue: #006cff;


//color usage

$borderDark: $colorGreyLight;
$borderLight: $colorGreySuperLight;

$inputColor: $colorGreyDark;
$labelColor: $colorGreyMid;