@font-face {
    font-family: ds-icons-set;
    src: url('./fonts/ds-icons-set-1527598006.woff2') format('woff2'),
    url('./fonts/ds-icons-set-1527598006.woff') format('woff');
    font-style: normal;
    font-weight: 400
}