$fontMain: 'Open Sans', sans-serif;
$fontIcon: 'ds-icons-set';
$fontSize: 16px;

$min-width: 320px;
$max-width: 1540px;
//
//.font14 {
//    @include interpolate(font-size, $min-width, $max-width, 12px, 14px)
//}